<%- include('includes/header') %>

<div class='container-block'>
  <h2 class='page-title'>Log In</h2>
  <form action="">
    <input type="text" name="username" placeholder="Enter username here...">
    <input type="password" name="password" placeholder="Enter password here...">
    <button type="submit">Login</button>
  </form>
</div>

<%- include('includes/footer') %>