<%- include('includes/header') %>
<div class='navbar'>
  <h2 class='navbar-title'>TaskApp</h2>
  <a class='navbar-link' href="/login">Log In</a>
</div>

<%- include('includes/alert') %>

<div class='register-block'>
  <h2 class='login-title'>Register</h2>
  <form action="/register" method="POST" class='login-form'> 
    <div class='form-field-container'>
      <p class='form-label'>Username:</p>
      <input class='register-field username' type="text" name="username" placeholder="Enter username here..." autocomplete='off' autofocus>
    </div>
    <div class='form-field-container'>
      <p class='form-label'>Email:</p>
      <input class='register-field email' type="text" name="email" placeholder="Enter email here..." autocomplete='off'>
    </div>
    <div class='form-field-container'>
      <p class='form-label'>Password:</p>
      <input class='register-field password' type="password" name="password" placeholder="Enter password here..." autocomplete='off'>
    </div>
    <button class='login-btn' type="submit">Register</button>
    <a class='register-link' href="/login">Return To Login</a>
  </form>
</div>

<%- include('includes/footer') %>