<%- include('includes/header') %>

<div class='container-block'>
  <h2 class='page-title'>Register</h2>
  <form action="/register" method="POST"> 
    <input type="text" name="username" placeholder="Enter username here...">
    <input type="text" name="email" placeholder="Enter email here...">
    <input type="password" name="password" placeholder="Enter password here...">
    <button type="submit">Create Accoun</button>
  </form>
</div>

<%- include('includes/footer') %>