@keyframes loadIn {
  0% {width: 0px; height: 0px; padding: 0}
  5% {width: 2px; height: 2px; padding: 0}
  50% {width: 80%; height: 2px; padding: 0}
  100% {width: 80%; height: 100px; padding: 15px 20px 20px}
}

@keyframes hide {
  0% {
    margin-top: 10px;
  }
  50% {
    margin-top: 10px;
    opacity: 0;
  }
  100% {
    margin-top: -110px;
    opacity: 0;
  }
}
@keyframes hideLargeTask {
  0% {
    margin-top: 10px;
  }
  50% {
    margin-top: 10px;
    opacity: 0;
  }
  100% {
    margin-top: -140px;
    opacity: 0;
  }
}

@keyframes fadeAway {
  0% {}
  100% {opacity: 0}
}

@keyframes showErrorPopup {
  0% {transform: translateY(100%) translateX(-50%) scaleY(0.6)}
  100% {transform: translateY(0%) translateX(-50%) scaleY(1)}
}