.container-block {
  padding: 30px;
  width: 70%;
  margin: 40px auto 0px;
  background: var(--primary-color);
  text-align: center;
  border: 3px solid var(--secondary-color);
}
.page-title {
  text-align: center;
  margin: 0;
  padding: 0;
}
.page-message {
  text-align: center;
  color: white;
}
.page-link {
  color: var(--primary-color);
  background: var(--light-color);
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 1.1rem;
}
.page-link:hover {
  transition: all 0.3s;
  background: var(--btn-color);
  color: var(--light-color);
}