.error-alert {
  width: 100%;
  padding: 10px;
  background: rgb(255, 78, 78);
  border-bottom: 2px solid var(--secondary-color);
}
.alert-message {
  text-align: center;
  margin-bottom: 10px;
}
.alert--green {
  background: rgb(78, 255, 108);
}

.alert {
  background: rgb(255, 78, 78);
  border-radius: 7px 7px 0 0;
  position: absolute;
  width: 100%;
  padding: 0;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.task-form-field-container .alert {
  width: 99%;
}
.error-message {
  text-align: center;
  padding: 12px 3px;
  margin: 0;
  position: relative;
  bottom: 3px;
}
.error-popup-animation {
  animation-name: showErrorPopup;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.reverse-error-popup-animation {
  animation-name: showErrorPopup;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-direction: reverse;
}

@media (max-width: 750px) {
  .task-form-field-container .alert {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .error-alert {
    padding: 8px;
  }
  .alert-message {
    font-size: 0.8rem;
    margin: 8px;
  }
  .alert {
    top: 6px;
  }
  .error-message {
    font-size: 0.9rem;
    padding: 12px 3px 14px;
  }
}