.navbar {
  padding: 5px;
  background: var(--primary-color);
  border-bottom: 4px solid var(--secondary-color);
}
.navbar-title {
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-size: 2.2rem;
  margin: 10px 10px 15px;
}
.navbar-link {
  position: absolute;
  top: 31px;
  right: 8%;
  color: white;
  text-decoration: none;
}
.navbar-link:hover {
  transition: color 0.5s;
  color: var(--secondary-color);
}

@media (max-width: 550px) {
  .navbar-link {
    display: none;
  }
}