.tasks-container {
  padding: 40px;
  background: var(--light-color);
  min-height: 60vh;
}
.task {
  background: var(--primary-color);
  border: 4px solid var(--border-color);
  list-style: none;
  width: 80%;
  color: white;
  display: flex;
  padding: 20px 30px 20px 50px;
  margin: 10px auto;
  height: 100px;
  overflow: hidden;
}
.animation {
  animation-name: hide;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.animation-reverse {
  animation-name: hide;
  animation-direction: reverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.task-list {
  padding: 0;
}
.task-item {
  width: 75%;
  padding: 0px 15px;
  margin: auto 0;
  overflow-x: hidden;
} 
.task-text {
  display: block;
  margin: auto;
}
.fa-check {
  background: white;
  color: white;
  border-radius: 5px;
  transition: color 0.3s;
}
.link-container {
  margin: auto;
}
.check-link {
  cursor: default;
}
.fa-check:hover {
  color: var(--btn-color);
  cursor: pointer;
}
.btn-container {
  width: 25%;
  display: inline-block;
  margin: auto;
  padding-right: 15px;
  text-align: right;
}
.btn {
  padding: 10px 18px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--light-color);
  text-decoration: none;
}
.edit-btn {
  background: var(--btn-color);
  color: white;
  margin-right: 10px;
}
.edit-btn:hover {
  background: #ba833a;
  transition: background 0.5s;
}
.delete-btn {
  background: #ff4141;
  color: white
}
.delete-btn:hover {
  background: #c61717;
  transition: background 0.5s;
}
.empty-task {
  padding: 15px 20px 20px;
  font-size: 0.9rem;
  text-align: center;
  margin: auto;
  animation-name: loadIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  overflow: hidden;
}
.empty-task--visible {
  animation-play-state: running;
}
.empty-task-title {
  padding: 20px 20px 20px 0px;
  margin: 0 auto;
} 

@media (max-width: 1150px) {
  .task {
    width: 95%;
    padding: 20px 20px 20px 30px;
  }
  .btn-container {
    width: 33%;
    padding-right: 0px;
  }
  .task-item {
    width: 67%;
  }
}

@media (max-width: 750px) {
  .tasks-container {
    padding: 10px;
  }
  .task {
    padding: 5px 0px 5px 5px;
    height: 130px;
    width: 100%;
  }
  .animation {
    animation-name: hideLargeTask;
  }
  .animation-reverse {
    animation-name: hideLargeTask;
  }
  .empty-task {
    animation-name: loadIn;
  }
  .btn-container {
    width: auto;
  }
  .task-item {
    padding: 8px;
  }
  .btn {
    display: block;
    width: auto;
    text-align: center;
    padding: 8px 14px;
  }
  .edit-btn {
    margin: 0 0 8px;
  }
}